<div class="title">
    <div class="container">
        <h1>アワード一覧</h1>
    </div>
</div>
<div class="main-wrapper">
    <div class="container">
       <div class="one-award">
            <div class="award-title">
                <p><%= @awards[0] %></p>
            </div>
            <% if @user_awards&.award_1 == true %>
                <div class="award-bool">
                    <img class="yes" src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
                </div>
            <% else %>
                <div class="award-bool not">
                    <img class="no" src="https://clipground.com/images/grey-circle-png-9.png" alt="">
                </div>
            <% end %>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p><%= @awards[1] %></p>
            </div>
            <% if @user_awards&.award_2 == true %>
                <div class="award-bool">
                    <img class="yes" src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
                </div>
            <% else %>
                <div class="award-bool not">
                    <img class="no" src="https://clipground.com/images/grey-circle-png-9.png" alt="">
                </div>
            <% end %>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p><%= @awards[3] %></p>
            </div>
            <% if @user_awards&.award_4 == true %>
                <div class="award-bool">
                    <img class="yes" src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
                </div>
            <% else %>
                <div class="award-bool not">
                    <img class="no" src="https://clipground.com/images/grey-circle-png-9.png" alt="">
                </div>
            <% end %>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p><%= @awards[4] %></p>
            </div>
            <% if @user_awards&.award_5 == true %>
                <div class="award-bool">
                    <img class="yes" src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
                </div>
            <% else %>
                <div class="award-bool not">
                    <img class="no" src="https://clipground.com/images/grey-circle-png-9.png" alt="">
                </div>
            <% end %>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p><%= @awards[5] %></p>
            </div>
            <% if @user_awards&.award_6 == true %>
                <div class="award-bool">
                    <img class="yes" src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
                </div>
            <% else %>
                <div class="award-bool not">
                    <img class="no" src="https://clipground.com/images/grey-circle-png-9.png" alt="">
                </div>
            <% end %>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p><%= @awards[6] %></p>
            </div>
            <% if @user_awards&.award_7 == true %>
                <div class="award-bool">
                    <img class="yes" src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
                </div>
            <% else %>
                <div class="award-bool not">
                    <img class="no" src="https://clipground.com/images/grey-circle-png-9.png" alt="">
                </div>
            <% end %>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p><%= @awards[7] %></p>
            </div>
            <% if @user_awards&.award_8 == true %>
                <div class="award-bool">
                    <img class="yes" src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
                </div>
            <% else %>
                <div class="award-bool not">
                    <img class="no" src="https://clipground.com/images/grey-circle-png-9.png" alt="">
                </div>
            <% end %>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p><%= @awards[8] %></p>
            </div>
            <% if @user_awards&.award_9 == true %>
                <div class="award-bool">
                    <img class="yes" src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
                </div>
            <% else %>
                <div class="award-bool not">
                    <img class="no" src="https://clipground.com/images/grey-circle-png-9.png" alt="">
                </div>
            <% end %>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p><%= @awards[9] %></p>
            </div>
            <% if @user_awards&.award_10 == true %>
                <div class="award-bool">
                    <img class="yes" src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
                </div>
            <% else %>
                <div class="award-bool not">
                    <img class="no" src="https://clipground.com/images/grey-circle-png-9.png" alt="">
                </div>
            <% end %>
        </div>
    </div>
</div>
